{% extends "base_generic.html" %}

{% block content %}
  <h1>Authors List</h1>
  <!-- <the model name>_list -->
  {% if author_list %}
    <ul>
      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no authors.</p>
  {% endif %}
{% endblock %}