{% extends "base_generic.html" %}

{% block content %}
  <h1>Blog List</h1>
  <!-- <the model name>_list -->
  {% if blogpost_list %}
    <ul>
      {% for blog in blogpost_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
        ({{blog.author}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no blogs.</p>
  {% endif %}
{% endblock %}