{% extends "base_generic.html" %}

{% block content %}
  <h1>Blogger: {{ author.name }}</h1>
  <p><h2>Bio</h2></p>
  <p>{{ author.bio }}</p>
  <h2>Blogs list</h2>
  <ul>
    {% for blogpost in author.blogposts.all %}
      <li>{{ blogpost.title }} ({{blogpost.date}})</li>
    {% endfor %}
  </ul>
{% endblock %}
