{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ blog.title }}</h1>
  <p><h4>Post date:</h4> {{blog.date}}</p>
  <p><h4>Author:</h4> {{blog.author}}</p>
  <p><h4>Description:</h4> {{blog.description}}</p>
  <pre><h3>Comments:</h3></pre>
  {% for comment in blog.comment_set.all%}
  <p>Comment Author (not implemented yet) {{comment.date}} - {{comment.comment}}</p>
  {% endfor %}
  {% if user.is_authenticated %}
  
  <a href='{% url 'create' blog.id%}'>Add a comment</a>
  {% endif %}
{% endblock %}
