{% extends "base_generic.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.comment.label_tag }}
    {{ form.comment.errors }}
    <textarea class="comment-field" id="{{ form.comment.id_for_label }}" name="{{ form.comment.name }}" rows="4">{{ form.comment.value }}</textarea>
    <button type="submit">Submit</button>
</form>
{% endblock %}