{% extends "base_generic.html" %}

{% block content %}
  <h1>Mini-blog site!</h1>
  <p>
    Welcome to our blog, a website developed by
    <em>Adam</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>Our blog has the following record counts:</p>
  <ul>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Blogs:</strong> {{ num_blogposts }}</li>
  </ul>
{% endblock %}
