.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  /* styles.css */
.comment-field {
  width: 100%; /* Ustawienie szerokości pola na 100% */
  height: 200px; /* Ustawienie wysokości pola na 200px */
}